In [1]:
import pandas as pd

##### 1. Create dataframe from dictionary

In [3]:
data = {'Name':['John','Alice','Bob'], 'Age':[25,28,22]}
df = pd.DataFrame(data)
df

    Name  Age
0   John   25
1  Alice   28
2    Bob   22

##### 2. Read CSV

In [ ]:
df = pd.read_csv("filename.csv")

##### 3. Display the n row of the dataframe

In [ ]:
df.head(5)

##### 4. Select a single column

In [ ]:
names = df['Name']

##### 5. Select multiple columns

In [ ]:
subset = df[['Name', 'Age']]

##### 6. First row based on condition

In [ ]:
adults = df[df['Age']>25]

##### 7. Sort dataframe by a column

In [ ]:
df_sorted = df.sort_values(by='Age',ascending=False)

##### 8. Group by and aggregate function

In [ ]:
avg_age_by_name = df.groupby('Name')['age'].mean()

##### 9. Handling missing values

In [ ]:
df.dropna()
df.fillna(value)

##### 10. Adding a new column

In [ ]:
df['Salary'] = [5000,6000,7000]

##### 11. Rename columns

In [ ]:
df.rename(column={'Age':'Years'}, inplace=True)

##### 12. concatenate DataFrames vertically

In [ ]:
df.concat([df1,df2], axis=0)

##### 13. concatenate DataFrames horizontally

In [ ]:
df.concat([df1,df2], axis=1)

##### 14. Merge dataframe based on key

In [ ]:
merged_df = pd.merge(df1,df2, on='common_column_name')

##### 15. Pivot a dataframe

In [ ]:
df_pivot = df.pivot(index='Date', columns='Category', values = 'Value')

##### 16. reshape Dataframe with melt

In [ ]:
df_melted =pd.melt(df, id_vars=['ID'], value_vars=['Var1','Var2'])

##### 17. Calculating the summary statistics

In [ ]:
mean_age = df['Age'].mean()

##### 18. Apply a function to each other

In [ ]:
df['doubled_age']=df['Age'].apply(lambda x:x*2)

##### 19. Calculate unique values and their counts

In [ ]:
unique_values =df['Category'].value_counts()

##### 20. Convert DataFrame column to datetime

In [ ]:
df['Date']=pd.to_datetime(df['Datetime'])

##### 21. Filter row based on multiple condition

In [ ]:
filtered_data = df[(df['Age']>25) & (df['salary']>50000)]

##### 22. Remove duplicate rows

In [ ]:
df_no_duplicates = df.drop_duplicates()

##### 23. convert categorical variable to dummy/indicator variable

In [ ]:
df_dummies = pd.get_dummies(df['Category'])

##### 24. Change data type of a column

In [ ]:
df['Amount'] = df['Amount'].astype(float)

##### 25. Apply custom function element-wise

In [ ]:
def custom_function(x):
    return x*2

df['Doubled_Amount'] = df['Amount'].apply(custom_function)

##### 26. Filter rows based on a list of values

In [ ]:
filtered_data = df[df['Category'].isin(['A','B'])]

##### 27. Calculate cumulative sum

In [ ]:
df['Cumulative_Sum'] = df['Value'].cumsum()

##### 28. Convent Dataframe to numpy array

In [ ]:
numpy_array = df.values

##### 29. Export DataFrame to CSV

In [ ]:
df.to_csv('output_file.csv',index=False)

##### 30. Describe Dataframe statistics

In [ ]:
df_stats = df.describe()

# Other important operations

##### 1. Select rows based on index

In [ ]:
selected_rows =df.loc[2:5]

##### 2. Select Rows and Columns by index position

In [ ]:
subset = df.iloc[1:4,2:5]

##### 3. Select Rows based on string matching

In [ ]:
matching_rows = df[df['Column'].str.contains('substring')]

##### 4. Select rows with null values

In [ ]:
null_rows = df[df['Column'].isnull()]

##### 5. Select Unique values in a column

In [ ]:
unique_values = df['Column'].unique()

In [ ]:
#####